<template>
  <div :class="$style.app">
    <div :class="$style.categories">
      <Category
        v-for="category in categories"
        :key="category.name"
        :category="category"
        :isActive="isCategorySelected && category.name === activeCategory"
        :isInactive="isCategorySelected && category.name !== activeCategory"
      />
    </div>

    <Transactions />
  </div>
</template>

<script lang="ts">
import { store } from './store';
import Transactions from './components/Transactions.vue';
import Category from './components/Category.vue';

export default {
  components: {
    Transactions,
    Category
  },

  computed: {
    categories() {
      return store.state.categories;
    },

    activeCategory() {
      return store.state.activeCategory;
    },

    isCategorySelected() {
      return store.state.activeCategory !== ''
    }
  },

  beforeMount() {
    store.dispatch('getCategories');
    store.dispatch('getTotalAmount');
  }
}
</script>

<style lang="scss" module>
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.categories {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;

  @media (max-width: 1023px) {
    grid-auto-flow: row;
  }
}
</style>
