<template>
  <div :class="[$style.root, { [$style.active]: isActive, [$style.inactive]: isInactive }]">
    <div :class="$style.data" @click="loadTransactions">
      <div :class="$style.type">
        <div :class="$style.icon" :style="iconStyle">
          {{ icon }}
        </div>

        {{ category.name }}
      </div>

      <div :class="$style.amount">
        <div>{{ amount }} €</div>
        <div>{{ percentage }}%</div>
      </div>

      <div :class="$style.gauge" :style="gaugeStyle" />
    </div>

    <div :class="$style.close" @click.stop="closeCategory">
      ❌
    </div>
  </div>
</template>


<script lang="ts">
import Vue from 'vue'
import darken from 'polished/lib/color/darken';
import rgba from 'polished/lib/color/rgba';
import { store } from '../store';
import { ratioToPercents, getCategoryColor } from '../../utils';

export default Vue.extend({
  props: {
    category: Object,
    isActive: Boolean,
    isInactive: Boolean
  },

  computed: {
    icon() : string {
      switch (this.category.name) {
        case 'Health': return '🚑';
        case 'Kids': return '👶';
        case 'Sports': return '🚴‍';
        case 'Grocery': return '🛒';
        case 'Movies': return '🍿';
        default: return '🤔';
      }
    },

    percentage() : number {
      const ratio = this.category.amount / store.state.totalAmount;

      return ratioToPercents(ratio);
    },

    amount() : number {
      return Math.round(this.category.amount);
    },

    iconStyle() : Object {
      const color = getCategoryColor(this.category.name);
      const darkenColor = darken(0.05, color);

      return {
        'background-color': darkenColor
      }
    },

    gaugeStyle() : Object {
      const color = getCategoryColor(this.category.name);

      return {
        'background-color': rgba(color, 0.4),
        width: `${this.percentage}%`
      };
    }
  },

  methods: {
    loadTransactions() {
      store.dispatch('getTransactions', this.category.name);
    },

    closeCategory() {
      store.commit('updateActiveCategory', '');
    }
  }
});
</script>

<style lang="scss" module>
.root {
  display: grid;
  grid-template-columns: 1fr auto;
  height: 50px;
  width: 100%;
  border-radius: 5px;
  background-color: rgba(#f5f5f5, 0.4);
  cursor: pointer;
  align-items: center;
  transition:
    background-color 0.3s ease-out,
    opacity 0.3s ease-out,
    transform 0.3s ease-out;

  &:hover:not(.active) {
    @media (min-width: 1024px) {
      background-color: #f5f5f5;
      transform: translateY(5px);
    }
  }
}

.inactive {
  @media (max-width: 1023px) {
    display: none;
  }

  @media (min-width: 1024px) {
    opacity: 0.5;
  }
}

.active {
  background-color: #f5f5f5;

  @media (min-width: 1024px) {
    transform: translateY(10px);
  }
}

.data {
  display: grid;
  grid-template-columns: auto auto;
  padding: 5px 15px;
  position: relative;
}

.type {
  display: grid;
  grid-template-columns: min-content min-content;
  align-items: center;
  column-gap: 10px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.amount {
  display: grid;
  row-gap: 5px;
  text-align: right;
}

.gauge {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  z-index: -1;
}

.close {
  width: 50px;
  text-align: center;
  display: none;

  @media (max-width: 1023px) {
    .active > & {
      display: block;
    }
  }
}
</style>
