<template>
  <div :class="$style.root">
    {{ text }}
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    text: String
  }
});
</script>

<style lang="scss" module>
.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 50px;
  border: 2px solid #f5f5f5;
  border-radius: 10px;
  text-align: center;
  margin: 20px auto;
  overflow-y: auto;

  @media (max-width: 1023px) {
    width: auto;
    margin: 10px;
  }
}
</style>
