<template>
  <div :class="$style.root">
    <Notice v-if="isNoCategorySelected" text="Please select category." />
    <Notice v-else-if="transactions.length === 0" text="There are no transactions in this category." />

    <Transaction
      v-else
      v-for="transaction in transactions"
      :transaction="transaction"
      :key="transaction.id"
    />
  </div>
</template>


<script lang="ts">
import Vue from 'vue';
import { store } from '../store';
import Notice from './Notice.vue';
import Transaction from './Transaction.vue';

export default Vue.extend({
  components: {
    Notice,
    Transaction
  },

  computed: {
    isNoCategorySelected() {
      return store.state.activeCategory === '';
    },

    hasNoTransactions() {
      return store.state.transactions.length === 0;
    },

    transactions() {
      return store.state.transactions;
    }
  }
});
</script>

<style lang="scss" module>
.root {
  display: grid;
  row-gap: 10px;
  width: 500px;
  margin: 20px auto;
  overflow-y: auto;

  @media (max-width: 1023px) {
    width: auto;
    margin: 10px;
  }
}
</style>
