<template>
  <div :class="$style.root" :style="transactionStyle">
    <div :class="$style.info">
      <div :class="$style.description">{{ transaction.description }}</div>
      <div :class="$style.time">{{ formattedTime }}</div>
    </div>

    <div :class="$style.amount">{{ transaction.amount }} €</div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import format from 'date-fns/format';
import lighten from 'polished/lib/color/lighten';
import { getCategoryColor } from '../../utils';

export default Vue.extend({
  props: {
    transaction: Object
  },

  computed: {
    transactionStyle() : Object {
      const color = getCategoryColor(this.transaction.category);

      return {
        'background-color': lighten(0.05, color)
      };
    },

    formattedTime() : string {
      return format(new Date(this.transaction.transactionTime), 'yyyy/MM/dd hh:mm');
    }
  }
});
</script>

<style lang="scss" module>
.root {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 10px;
  justify-content: space-between;
  border-radius: 5px;
  padding: 10px;
}

.info {
  display: grid;
  row-gap: 5px;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.time {
  opacity: 0.5;
  font-size: 12px;
}

.amount {
  font-size: 20px;
  opacity: 0.8;
}
</style>
